
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script>
    $(function () {


         var seesion;
        $.ajax({
            url: "/AtmLogin/Sessionvalue",
            data: "",
            async: false,
            success: function (res) {

                seesion = res;

            }
        });
        if (seesion == "ar-EG") {
            $(".services").empty();
            $(".services").append("<h1> خدمات <span>   الداخلية</span> </h1>");
            $("#link1").empty();
            $("#link1").append("<h5>استخراج <span> شهادة الميلاد  </span>  </h5>");
         $("#link2").empty();
            $("#link2").append("<h5>استخراج <span> شهادة وفاة  </span>  </h5>");
            $("#link3").empty();
            $("#link3").append("<h5> استخراج<span>  شهادة زواج / طلاق  </span> </h5>");
        }
        else {

             $(".services").empty();
            $(".services").append("<h1> Interior <span>   Services</span> </h1>");
                   $("#link1").empty();
            $("#link1").append("     <h5>Extract <span>Birth Certificate</span></h5>");
         $("#link2").empty();
            $("#link2").append("<h5>Extract <span>Death Certificate</span> </h5>");
                $("#link3").empty();
            $("#link3").append("<h5>Extract <span>Marriage/Divorce Certificate</span> </h5>");

        }
    });
    </script>
<style>
    .service-box {
        box-shadow: 0 0 4px 0 #7e789f;
        padding: 3px;
        position: relative;
    }

    .services {
        margin-bottom: 30px;
    }


    .col-md-4:hover {
        background-color: #b4b3b7;
        padding: 3px;
        cursor: pointer;
    }

    p {
        text-align: justify;
    }


    h5 {
        color: #585353;
    }

        h5:hover {
            color: #ffffff;
        }

    h1 {
        color: #585353;
    }

    /*a{
        width:40px;
        height:40px;
        border-radius:50%;
        display:block;
        text-align:center;
        position:absolute;
        bottom:-20px;
        right:20px;


    }*/
    h3 {
        background: linear-gradient(to right, #3c69f8,#1c0892);
        -webkit-background-clip: text;
        color: transparent;
    }
    span {
        background: linear-gradient(to right, #3c69f8,#1c0892);
        -webkit-background-clip: text;
        color: transparent;
    }
</style>

<body>
    <div class="container">
        <div class="services">
           

        </div>

        <div class="row">
            <div class="col-md-4">

                <div class="service-box" >
                    <a href="/AtmCertificate/Index" id="link1">

                   
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <a href="/ATMDeathCertificate/Index" id="link2">

                        
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="service-box">
                    <a href="/MarriageAndDivorce/Index" id="link3">

                        <h5>Extract <span>Marriage Certificate</span> </h5>
                    </a>

                </div>
            </div>

        </div>



    </div>

</body>

